<h3>Single Page Application in Angular</h3>
<hr/>
 
<div style="text-align: center;">
        <a [routerLink]=" ['/'] ">Home</a>  |
        <a [routerLink]=" ['/Emps'] ">Employees</a>  |
        <a [routerLink]=" ['/Depts'] ">Departments</a>  |
        <a [routerLink]=" ['/Aboutus'] ">Aboutus</a>  |
        <a [routerLink]=" ['/Login'] " *ngIf="!loginStatus">Login</a>  
        <a [routerLink]=" ['/Logout'] " *ngIf="loginStatus">Logout</a>  |
        <a [routerLink]=" ['/Admin'] " *ngIf="isAdmin">Admin</a>  
</div>
<hr/>

<router-outlet></router-outlet>